<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>

<div class="title-container">
  <h1>Registrar Diretor(a):</h1>
</div>

<%= render partial: 'form', locals: { director: @director, genre: @genre } %>
