.title-container{
  h1{
    padding: 20px 60px;
    text-decoration-line: overline;
    text-decoration-color: blue;
  }

  h2{
    margin: 20px 60px;
  }
  }

.col{
  margin: 15px 60px;
  }

.card{
  margin: 75px 50px
  }

.item-list{
  list-style-type: none;
  padding: 10px 50px;
}

.type-list{
  margin: 5px;
}

.btn{
  margin: 15px 60px;
}

.show-primary{
  margin: 15px 60px;
}

.poster{
  width: 100%;
  height: auto;
  margin: 15px 60px;
}